@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Quicksand&display=swap");
/* Paleta de la aplicación:

Se cambian los colores por defecto de Bootstrap 
por la paleta personalizada, dejando el resto del
trabajo al preprocesador.
*/
$darkest-blue: #010a26;
$dark-blue: #011640;
$regular-blue: #2469a6;
$dark-gray: #566573;
$mid-gray: #849199;
$regular-gray: #bacdd9;
$light-gray: #c5d9e6;
// Bootstrap variables

// Colors
$blue: #359af2;
$indigo: #4143f2;
$purple: #9e37f9;
$pink: #f24ed9;
$red: #f2554e;
$orange: #f27d41;
$yellow: #f2cd29;
$green: #16ba52;
$teal: #1ef96e;
$cyan: #2af9ec;

$primary: $blue;
$secondary: $mid-gray;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $light-gray;
$dark: $dark-gray;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

/* 
Otras variables:
Se cambian algunos bordes y colores para armonizar mejor con la paleta
escogida arriba.
*/

// Border radiuses
$border-radius: 0.175rem;
$border-radius-sm: 0.1rem;
$border-radius-lg: 0.15rem;

// Modal background
$modal-content-bg: $light-gray;
$modal-content-border-color: $dark-gray;
$modal-header-border-color: $dark-gray;
$modal-footer-border-color: $dark-gray;

@import "~bootstrap/scss/bootstrap";

body {
  background-color: $dark-blue;
  color: $light-gray;
}

.bg-dark-blue {
  background-color: $dark-blue;
}

.bg-regular-blue {
  background-color: $regular-blue;
}

.title-font {
  font-family: "Montserrat", sans-serif;
}

.body-font {
  font-family: "Quicksand", sans-serif;
}

.badge-icon {
  font-size: 1.25em;
}
